<div class="container" >
    <mat-toolbar class="bar">
      <span><mat-icon>directions_car</mat-icon>TOLL EXPRESS</span>
      <div class="spacer" ></div>
      
      <a mat-button routerLink="">Home</a>
      <a mat-button routerLink="/pricelist" routerLinkActive="active">Price Chart</a>
      <a mat-button routerLink="/tollgate" routerLinkActive="active">Toll Gates</a>
      <a mat-button routerLink="/payments" routerLinkActive="active">Payments</a>
      <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
      <a mat-button routerLink="/about" routerLinkActive="active">About Us</a>
     
      </mat-toolbar>
     
    </div>



    
<router-outlet></router-outlet>